
.idea/workspace.xml
multi-project/.idea/libraries/Gradle__org_apiguardian_apiguardian_api_1_1_0.xml
multi-project/.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_api_5_7_0.xml
multi-project/.idea/libraries/Gradle__org_junit_jupiter_junit_jupiter_engine_5_7_0.xml
multi-project/.idea/libraries/Gradle__org_junit_platform_junit_platform_commons_1_7_0.xml
multi-project/.idea/libraries/Gradle__org_junit_platform_junit_platform_engine_1_7_0.xml
multi-project/.idea/libraries/Gradle__org_opentest4j_opentest4j_1_2_0.xml
multi-project/.idea/misc.xml
multi-project/.idea/modules.xml
multi-project/.idea/modules/api/multi-project.api.iml
multi-project/.idea/modules/api/multi-project.api.main.iml
multi-project/.idea/modules/api/multi-project.api.test.iml
multi-project/.idea/modules/core/multi-project.core.iml
multi-project/.idea/modules/core/multi-project.core.main.iml
multi-project/.idea/modules/core/multi-project.core.test.iml
multi-project/.idea/modules/multi-project.iml
multi-project/.idea/modules/multi-project.main.iml
multi-project/.idea/modules/multi-project.test.iml
multi-project/.idea/workspace.xml
utils/.idea/workspace.xml
